img{
	max-width: 100%;
	border-radius: 4px;
}

.theme-switcher{
	display: block;
	width: 21px;
	height: 21px;
	background-color: #000000;
	border: 2px solid #ffffff;
	border-radius: 50%;
	cursor: pointer;
}

.dark-theme {
	background: #191b22 !important;
	& > *{
		color: rgba(255,255,255,0.9);
	}
	.border-bottom{
		border-color: rgba(255,255,255,0.2) !important;
	}
	.theme-switcher{
		background-color: #ffffff;
		border: 2px solid #000000;
	}
}