<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ '/assets/styles/bootstrap.min.css' | relative_url }}">
  <link rel="stylesheet" href="{{ '/assets/styles/main.css' | relative_url }}">
  {% seo %}
  {% feed_meta %}
</head>

<body class="bg-light">
  {% include navigation.html %}
  {{ content }}
  {% include footer.html %}
  <script src="{{ '/assets/scripts/localforage.min.js' | relative_url}}"></script>
  <script src="{{ '/assets/scripts/index.js' | relative_url}}"></script>
</body>

</html>