<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="{{ '/assets/styles/main.css' | relative_url }}">
  {% seo %}
  {% feed_meta %}
</head>

<body class="bg-light">
  {% include navigation.html %}
  {{ content }}
  {% include footer.html %}
  <script src="{{ '/assets/scripts/index.js' | relative_url}}"></script>
</body>

</html>