---
layout: default
---

<div class="container">
	<div class="row justify-content-center">
		<div class="col-lg-8">
			<div class="mb-4">
				<h1 class="mt-5 h3">Առցանց բառարան
				</h1>
				<p class="mt-3">Բառարանի մասին տեղեկութիւն կարող էք գտենլ <a
						href="https://github.com/tigransimonyan/bararan-hay" target="_blank">GitHub</a>-ի իմ էջում։
				</p>
			</div>
			<div class="input-group input-group-lg">
				<input type="text" class="form-control" autofocus placeholder="Գրէք անգլերէն կամ հայերէն բառ..."
					aria-label="Գրէք անգլերէն բառը" id="searchInput" type="text" oninput="handleInput(this)">
			</div>
			<div id="results" class="pt-3 pb-5"></div>
		</div>
	</div>
</div>